<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activitytest.example.com.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logle"
        android:label="零时"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="activitytest.example.com.myapplication.MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="零时"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OfferActivity"
            android:theme="@style/OfferActivityTheme">
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/OfferActivityTheme">
            </activity>
     <activity android:name=".searchActivity"
         android:theme="@style/OfferActivityTheme">
     </activity>
    </application>
</manifest>